
<VirtualHost *:80>
    ServerName {{ inventory_hostname }}

    DocumentRoot {{ pord_document_root }}

    <Directory {{ pord_document_root }} >
        Options FollowSymlinks

        Order deny,allow
        Allow from all

    </Directory>

</VirtualHost>